
h1{
background-color: #E3EFEE;
color: black;
text-align: center;
  margin: 50px 300px 20px;
font-family: 'Playfair Display', serif;
}

h2{
  background-color: #E3EFEE;
  font-family: 'Playfair Display', serif;
  margin: 40px 300px 10px;
  text-align: center;
}
p{
  background-color: #E3EFEE;
  margin: 0px 300px 10px;
  font-family: 'Thasadith', sans-serif;
}
body{
  background-color: #E3EFEE;
  color: black;
}
img{
  width: 450px;
  height: 350px;
  padding: 50px 50px 50px 50px;
}
html{
  padding-bottom: 100px
}
