body.index {
  text-align: center;
  background-color:#D6E0EA;
}

/*Main Header*/
h1{
  font-size: 80px;
  text-align: center;
  width: 79%;
  align-content: center;
  border: 11px;
  border-style: solid;
  border-color: #4D7298;
  padding: 50px;
  margin: auto;
}

/*Subheaders*/
h2 {
  font-size: 40px;
  width: auto;
  border: 5px
  padding: 0px;
  margin-right: 100px;
  margin-left: 100px;
}

/*Body Text*/
p {
  width: 300px
  border: 10px
  padding: 50px;
  padding-bottom: 100px
}


img {
  opacity: 0.7;
  width:30%;
  padding-bottom: 10px;
  text-align: right;
}

/*Images for Causes & How You Can Help*/
#img-left {
  float: left;
  padding-left: 100px;
  padding-right: 50px;
  width: 450px;
  height: 300px;
}

/*Images for What is Coral Bleaching? & Impact*/
#img-right{
  float:right;
  padding-right: 100px;
  padding-left: 50px;
  width: 450px;
  height: 300px;
}

/*Font for body text*/
.p1 {
  font-family: 'Thasadith', sans-serif;
}

/*Font for headers*/
.p2 {
  font-family: 'Playfair Display', serif;
  color: #293D51
}

/*Text for Causes & How You Can Help*/
#text-left {
  text-align: left;
  margin-left: 100px;
  margin-right: 40%;
}

/*Text for What is Coral Bleaching? & Impact*/
#text-right{
  text-align: left;
  margin-right: 100px;
  margin-left: 40%
}
